@import "../../styles/variaveis";

.card {
  width: 90%;
  transition: 0.5s;
  &__lista {
    list-style: none;
    padding: 0;
    &__imagem {
      width: 100%;
      height: 300px;
      box-sizing: border-box;
    }
    &__descricao {
      width: 100%;
      text-align: center;
      background-color: $verde-escuro;
      padding: 20px;
      p {
        padding-top: 10px;
        color: $branco;
        font-size: 1.4rem;
        text-align: left;
      }
      div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        P {
          color: $branco-fraco;
        }
        span {
          display: flex;
          gap: 2rem;
          color: $branco;
        }
      }
    }
  }
}
.card:hover .card__lista {
  transform: scale(1.1);
}

@media (min-width: 768px) {
  .card {
    li:nth-child(3n + 1) {
      margin-left: 10px;
    }
  }
}
