@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap");
@import "./variaveis";
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: linear-gradient($amarelo-escuro, $amarelo-claro);
  box-sizing: border-box;
  font-family: $font;
}
body::-webkit-scrollbar {
  width: 3px;
}
body::-webkit-scrollbar-thumb {
  background-color: $amarelo-escuro;
  border-radius: 20px;
}
body::-webkit-scrollbar-track {
  background: linear-gradient($amarelo-escuro, $amarelo-claro);
}
