@import "../../styles/variaveis";
.principal {
  &__imagem {
    img {
      width: 100%;
      border-radius: 20px;
    }
    position: relative;
    h1 {
      position: absolute;
      z-index: 1;
      color: $verde-escuro;
      font-size: 2.5rem;
      font-weight: bold;
      width: 401px;
      height: 144px;
      top: 75px;
      left: 44px;
    }
  }
}
