@import "../../styles/_variaveis.scss";
.menu {
  text-align: center;
  &__listas {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 10px 0;
    color: $verde-escuro;
    &:first-child {
      a {
        font-weight: 700;
        color: $branco;
        font-family: "GandhiSansRegular";
      }
    }
    a {
      text-decoration: none;
      font-size: 1.5rem;
      color: $branco;
    }
    span {
      display: flex;
      align-items: center;
    }
  }
}
